{% extends 'base.html' %}

{% block content %}
    <section class="vh-100" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card rounded-3">
              <div class="card-body p-3">

                <div class="row">
                  <div class="col-10">
                    <h4 class="text-left ms-3">To Do App</h4>
                  </div>
                  <div class="col-2">
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #55acee;" href="{% url 'todo:create' %}" role="button">
                      Add a Task
                    </a>
                  </div>
                </div>
                  <!-- Start Table -->
                <div class="container">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Item</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if tasks %}
                        {% for task in tasks %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'todo:detail' task.id %}">{{ task.title }}</a></td>
                            <td>{{ task.category }}</td>
                            <td>{{ task.created }}</td>
                            <td>Status Example</td>
                            <td><button type="button" class="btn btn-danger" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#deleteModal"><i class="fas fa-trash-can"></i></button>
                            </td>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">Are you sure you want to delete task "{insert task here}"?</div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" data-mdb-ripple-init href="{% url 'todo:task-delete' task.id %}" role="button">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <td><a href="{% url 'todo:update' task.id %}">Edit</a></td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="2">You have no tasks.</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


<!-- Button trigger modal -->


<!-- Modal -->
